#container ul li {
    list-style-type: none;
    font-size: 24px;
    cursor: move;
    background-color: #efefef;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
}

#container ul li a,
#container ul li a:link {
    float: right;
    display: none;
    text-decoration: none;
    color: #f03;
}